.customInput {
	max-width: 384px;
	width: 100%;
	border: 1px solid #323b54;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-items: center;
}
.icon {
	padding: 0 16px;
}
.input {
	background-color: transparent;
	color: #fff;
	padding: 12px 16px;
	width: 100%;
	border: none;
}
.input:focus {
	outline: none;
}
.input::placeholder {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	color: #475069;
}
