.button {
	border-radius: 12px;
	padding: 16px 32px;
	cursor: pointer;
	transition: background 0.25s;
	font-size: 16px;
	border: 2px solid #7b6ef6;
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 150%;
	color: #fff;
}
.button:hover {
	border-color: #222096;
}

.accent {
	background: #7b6ef6;
}
