.card {
	border-radius: 12px;
	padding: 8px 8px 16px;
	overflow: hidden;
	position: relative;
	backdrop-filter: blur(80px);
	background: rgba(32, 40, 62, 0.8);
	display: grid;
	grid-template-rows: 400px 80px;
	gap: 16px;
	transition: 0.1s linear;
	cursor: pointer;
}

.card:hover {
	transform: scale(1.03);
	z-index: 2;
}

.card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__like {
	position: absolute;
	margin: 16px;
	border-radius: 8px;
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.65);
	padding: 4px 8px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #ffad49;
	display: grid;
	gap: 4px;
	align-items: center;
	grid-template-columns: 16px 1fr;
}

.card__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #ebeef5;
	margin-bottom: 16px;
}

.card__btn {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #7b6ef6;
	display: grid;
	grid-template-columns: 24px 1fr;
	align-items: center;
	gap: 8px;
}
.card__btn:hover {
	color: #422fe9;
}

.card__btn--bookmark {
	color: #37d8a7;
}
.card__btn--bookmark:hover {
	color: #26b88c;
}
