.header {
	position: sticky;
	top: 0;
}
.header__container {
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
	width: 40px;
	height: 40px;
}

.header__link {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #a8aebf;
}
.header__elem {
	padding: 12px 16px;
	display: flex;
	align-items: center;
	justify-items: center;
	gap: 8px;
}

.header__elem.active .header__link {
	color: #fff;
}
.header__list {
	display: flex;
	gap: 16px;
	list-style: none;
}

.header__elem-img {
	width: 24px;
	height: 24px;
}

.header__elem-count {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.02em;
	color: #fff;
	border-radius: 100%;
	background-color: #7b6ef6;
	min-height: 24px;
	min-width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
